<div class="container-fluid">
  <div class="row">
      <div class="card">
        <%= image_tag current_user.bio.avatar, 
        alt: 'mi_foto', class: "mx-auto rounded mt-3",
        size:"200x200" %>
        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Personal information
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= render "bios/personal_info" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
