
<div class="accordion-item">
  <h2 class="accordion-header" id="findFriend">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFindFriend" aria-expanded="false" aria-controls="collapseOne">
      Invite a friend!
    </button>
  </h2>
  <div id="collapseFindFriend" class="accordion-collapse" aria-labelledby="findFriend" data-bs-parent="#collapseFindFriend">
    <div class="accordion-body">
      <div class="card" style="width:100%">
        <div class="card-body">
          <%= render "home/find_friend" %>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <% if @find_friend_request %>
              <% @find_friend_request.each do |bio| %>
              <div class="row">
                <div class="col-10">
                  <li class="list-group-item"><%= bio.nickname %></li>
                </div>
                <div class="col-2">
                  <%= button_to "Add friend", friend_request_create_path(user: bio.user_id), class:"btn btn-primary rounded"%>
                </div>
              </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

