<div class="accordion-item">
  <h2 class="accordion-header" id="pendingFriendRequest">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePending" aria-expanded="false" aria-controls="collapseOne">
      Pending to accept
      <span class="badge bg-primary ms-5"><%= @pending_to_accept.count if @pending_to_accept.count > 0  %></span>
    </button>
       
  </h2>
  <div id="collapsePending" class="accordion-collapse" aria-labelledby="pendingFriendRequest" data-bs-parent="#collapsePending">
    <div class="accordion-body">
      <div class="card" style="width:100%">
        <div class="card-body">
          <ul class="list-group">
            <% if @pending_to_accept %>
              <% @pending_to_accept.each do |user| %>
              <div class="row">
                <div class="col-9">
                  <li class="list-group-item"><%= User.find(user.user_id).bio.nickname %></li>
                </div>
                <div class="col-3">
                  <%= button_to "Accept friend", friend_request_path(user), 
                  method: :patch,
                  class: "btn btn-success rounded"%>
                </div>
              </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

